a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: sans-serif;
  margin-bottom: 4px;
  padding: 7px;
  cursor: pointer !important;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}